<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="todoDexMediaApp" ng-controller="MainController" ng-class="{'sign-in':!user.loggedIn}">


    <!--If User is logged ing-->
    <div ng-if="!user.loggedIn" class="container-fluid sign-in">
      <dex-sign-up></dex-sign-up>
    </div>

    <!--Main Site body-->
    <div ng-if="user.loggedIn" class="container-fluid">

      <!--Navigation Menu-->
      <nav class="navbar header" role="navigation">
        <!--Username Wrapper-->
        <div class="navbar-header pull-left">
          <span class="navbar-brand">Hi, {{user.name}}</span>
        </div>
        <!--Menu Toggle-->
        <div class="nav navbar-right">
          <button class="btn-primary pull-right panel-btn" ng-click="toggle()">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          </button>
        </div>
        <!--Pageslide-->
        <pageslide ps-open="checked">
          <div class="container-pageslide">
            <!--Back Button Wrapper-->
            <div class="container-back">
              <div class="pull-left" ng-click="toggle()">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span class="pageslide-back">Back</span>
              </div>
            </div>
          </div>
        </pageslide>
      </nav>

      <!--Main Logo Header-->
      <div class="container">
        <div class="sign-in-logo"></div>
        <div class="view-toggle">
          <a href="#/" ng-class="{active:isActive('/')}">To do</a> | <a href="#/completed"
                                                                      ng-class="{active:isActive('/completed')}">
          Completed</a>
        </div>
        <div ng-view=""></div>
      </div>

      <!--Footer with love...-->
      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Abdullah Rasheed to Dex Media</p>
      </div>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/user.service.js"></script>
        <script src="scripts/services/todo.service.js"></script>
        <script src="scripts/controllers/main.controller.js"></script>
        <script src="scripts/controllers/todo.controller.js"></script>
        <script src="scripts/directives/dexsignup.directive.js"></script>
        <script src="scripts/directives/dextodo.directive.js"></script>
        <script src="scripts/controllers/dexsignupcontroller.js"></script>
        <!-- endbuild -->
</body>
</html>
